name: Release

on:
  push:
    tags:
      - "v*.*.*"

permissions:
  contents: write

jobs:
  create_release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Create GitHub Release from CHANGELOG.md
        uses: softprops/action-gh-release@v2
        with:
          body_path: CHANGELOG.md
